/* style.css */
body {
    background: linear-gradient(to bottom, white, #003366);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h1, section h2 {
    color: #003366;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

#game-container {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(50%);
}

canvas#myCanvas {
    width: 20%;
    height: 20%;
    display: block;
    background: url('https://muralsyourway.vtexassets.com/arquivos/ids/238964-825-auto?width=825&height=auto&aspect=true');
    background-size: cover;
    border-radius: 10px;
}